@import "tailwindcss";
@import '../styles/_keyframe-animations.scss';
@import '../styles/_variables.scss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-750: #2D3748;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-funnel-display: var(--font-funnel-display);
  --color-beige-100: var(--beige-100);
  --color-beige-200: var(--beige-200);
  --color-brown-100: var(--brown-100);
  --color-gray-750: var(--gray-750);
  --color-green-cool: var(--green-cool);
}

::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
  -webkit-appearance: none;
}
@layer utilities {
  @keyframes progress {
    from { width: 100%; }
    to { width: 0%; }
  }

  .animate-progress {
    animation: progress 5s linear forwards;
  }
}

.sticky-right-column {
  @apply !sticky right-0 bg-white z-50 shadow border-l border-gray-100 dark:border-gray-800 dark:bg-[#1f2937]
}
